<strong>Olá, {{ provider }}</strong>
<p>Houve uma inscrição no evento Meetup, verifique os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/Hora: </strong>{{ date }} <br /><br />
  <small>
    Caso, não possa comparecer a este evento,
    é necessário que seja enviado o email para
    o usuário estar ciente.
  </small>
</p>
